{% set bem_block = 'about-us' %}

<div class="{{ bem_block }}">
  <p class="{{ bem_block }}__title">About us </p>
  <p class="{{ bem_block }}__body">
    {{ content }}
  </p>

  <div class="{{ bem_block }}__social-media">
    {% set items = {
      'facebook': 'https://www.facebook.com/',
      'instagram': 'https://www.instagram.com/',
      'twitter' : 'https://www.instagram.com/',
      'youtube' : 'https://www.instagram.com/' }
    %}
    {% for media, link in items %}
      <a href="{{ link }}" class="link">
        <img class="link__item" src="/themes/custom/newsweek/icons/social-media/{{ media }}.png" alt="{{ media }}">
      </a>
    {% endfor %}
  </div>
</div>
