{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{%
  set images_style = {
    '#theme':      'image_style',
    '#style_name': 'teaser_full',
    '#uri':        node.field_main_image.entity.field_media_image.entity.fileuri,
  }
%}
{{ attach_library('bartik/classy.node') }}
<article{{ attributes.addClass(classes) }}>
  <div class="main-image">
    <a href="{{ url }}" class="main-image" rel="bookmark"> {{ images_style }}</a>
  </div>
  <div class="node">
    <header>
      {% if content.field_tags %}
        {{ content.field_tags }}
      {% endif %}
      {{ title_prefix }}
      {% if label and not page %}
        <h2{{ title_attributes.addClass('node__title') }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}
      {% if display_submitted %}
        <div class="node__meta">
          {{ author_picture }}
          <span class="meta-info" {{ author_attributes }}>
            {% trans %}{{ author_name }} - {{ date }}{% endtrans %}
          </span>
          {{ metadata }}
        </div>
      {% endif %}
      {% if content.body %}
        {{ content.body }}
      {% endif %}
    </header>
  </div>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content|without('field_tags', 'field_main_image', 'body') }}
  </div>
</article>
